{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/ola.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/lphoriginal.png' %}">
    {% block css %}

    {% endblock %}
</head>
<body>
  {% load static %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="{% static 'img/lph.jpg' %}" alt="" style="height: 70px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active inicio-link" aria-current="page" href="/">Inicio</a>
                
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Producto
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/cargarAgregarProducto">Agregar productos</a></li>
              </li>
              {% else %}
              {% endif %}
              </div>
            <form id="carrito" class="d-flex justify-content-between"> 
              {% csrf_token %}
            </div>            
                <a href="/carrito" class="ms-auto">
                  <img src="{% static 'img/bag.svg' %}" alt="" style="height: 20px;">
              </a>              
            </form>

          </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://www.youtube.com/watch?v=B9RgougnhiE">Los Pollos Hermanos</a>
        </div>
        <!-- Copyright -->
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/modoOscuro.js' %}"></script>
    <script src="{% static 'js/weather.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    {% block js %}

    {% endblock %}
</body>
</html>