{% extends './base.html' %}
{% load static %}
{% block title %} Editar producto {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1>Editar producto</h1>
</div>

<div class="container">
    <form id="formAgregar" action="/editarProducto" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                <label for="txtSku">SKU:</label>
                <input readonly value="{{producto.id_producto}}" placeholder="Ingrese el Sku" type="number" name="txtSku" id="txtSku" class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="txtNombre">Nombre:</label>
                <input value="{{producto.nombre}}" placeholder="Ingrese el nombre" type="text" name="txtNombre" id="txtNombre" class="form-control">
            </div>
            <div class="col-sm-2">
                <label for="txtPrecio">Precio:</label>
                <input value="{{producto.precio}}" placeholder="Ingrese el precio" type="number" name="txtPrecio" id="txtPrecio" class="form-control">
            </div>
            <div class="col-sm-4">
                <label for="txtStock">Stock:</label>
                <input value="{{producto.stock}}" placeholder="Ingrese el stock" type="number" name="txtStock" id="txtStock" class="form-control">
            </div>
            <div class="col-sm-8">
                <label for="txtDescripcion">Descripcion:</label>
                <input value="{{producto.descripcion}}" placeholder="Ingrese la descripcion" type="text" name="txtDescripcion" id="txtDescripcion" class="form-control">
            </div>
            <div class="col">
                <label for="txtImagen">Imagen:</label>
                <img src="{{producto.imagen.url}}" alt="">
                <input placeholder="Ingrese la imagen" type="file" name="txtImagen" id="txtImagen" class="form-control">
            </div>
            <div class="col mt-4">
                <label for="cmbCategoria">Categoria:</label>
                <select name="cmbCategoria" id="cmbCategoria" class="form-select">
                    <option value="null" disabled selected>Seleccione...</option>
                    {% for c in categorias %}
                    <option {% if categoriaId == c.id_categoria %} selected {% endif %} value="{{c.id_categoria}}">{{c.nombre_categoria}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col mt-4">
                <label for="cmbMarca">Marca:</label>
                <select name="cmbMarca" id="cmbMarca" class="form-select">
                    <option value="null" disabled selected>Seleccione...</option>
                    {% for m in marcasTodas %}
                    <option {% if marcaId == m.id_marca %} selected {% endif %} value="{{m.id_marca}}">{{m.nombre_marca}}</option>
                    {% endfor %}
                </select>
            </div>
            <button onclick="validar()" class="btn btn-success mt-5">Guardar cambios</button>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/function.js' %}"></script>
{% endblock %}