{% extends './base.html' %}
{% load static %}
{% block title %} Agregar productos {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1>Agregar productos</h1>
</div>

<div class="container">
    <form id="formAgregarProducto" action="/agregarProducto" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                <label for="txtSku">SKU:</label>
                <input placeholder="Ingrese el Sku" type="number" name="txtSku" id="txtSku" class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="txtNombre">Nombre:</label>
                <input placeholder="Ingrese el nombre del producto" type="text" name="txtNombre" id="txtNombre" class="form-control">
            </div>
            <div class="col-sm-2">
                <label for="txtPrecio">Precio:</label>
                <input placeholder="Ingrese el precio" type="number" name="txtPrecio" id="txtPrecio"
                    class="form-control">
            </div>
            <div class="col-sm-4">
                <label for="txtStock">Stock:</label>
                <input placeholder="Ingrese el stock" type="number" name="txtStock" id="txtStock" class="form-control">
            </div>
            <div class="col-sm-8">
                <label for="txtDescripcion">Descripcion:</label>
                <input placeholder="Ingrese la descripcion" type="text" name="txtDescripcion" id="txtDescripcion"
                    class="form-control">
            </div>
            <div class="col">
                <label for="txtImagen">Imagen:</label>
                <input placeholder="Ingrese la imagen" type="file" name="txtImagen" id="txtImagen" class="form-control">
            </div>
            <div class="col">
                <label for="cmbCategoria">Categoria:</label>
                <select name="cmbCategoria" id="cmbCategoria" class="form-select">
                    <option value="null" disabled selected>Seleccione...</option>
                </select>
            </div>
            <div class="col">
                <label for="cmbMarca">Marca:</label>
                <select name="cmbMarca" id="cmbMarca" class="form-select">
                    <option value="null" disabled selected>Seleccione...</option>
                </select>
            </div>
            <button class="btn btn-success mt-5">Agregar Producto</button>
        </div>
    </form>
</div>


{% endblock %}

{% block js %}
{% endblock %}